<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>

<body style="background-image: url('images/Black-And-Red-Shade-Background-2048x1152-Bokongindah.com.jpg'); background-size: 100% 100%">
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                <div class="main_content" >
                    <form class="temp_form" >
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off" required="true">
                        <input type="submit" value="search" id="submitBtn" >
                    </form>

                    <div class="tempInformation" >
                        <div class="top_layer" >
                            <p id="day">Week_day</p>
                            <p id="today_data">Date Month</p>
                        </div>
                        <div class="main_layer">
                            <p id="city_name">Get Output here</p>
                            <div class="middle_layer data_hide">
                                <p id="temp" style="display: inline;"></p>
                                <p><sup>o</sup>C&nbsp;</p>
                                <p id="temp_status"> <i class="fas fa-cloud" area-hidden="true"></i> </p>
                            </div> 
                        </div>
                    </div> 

                </div>

            </div>   
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
    <script src="js/main.js"></script>
</body>

</html>  